# 1. Игнорируем вообще ВСЁ
*

# 2. Но разрешаем папки (чтобы git мог заходить внутрь)
!*/

# 3. Разрешаем конкретные расширения (Белый список)
!*.c
!*.h
!*.md

# 4. Разрешаем сам файл игнора
!.gitignore
